ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    font-size: 20px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 24px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: green;
}

.active {
    background-color: #04AA6D;
}

.loginbutton{
    font-size: 20px;
    float: right;
}

.button{
    font-size: 20px;
    background-color: #333;
}

.button:hover{
    background-color: green;
}