
ul {
    list-style-type: none;
    margin-top: -5px;
    margin-left: -5px;
    margin-right: -5px;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    font-size: 20px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 24px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: darkblue;
    color: white;
    padding-bottom: 22px;
}

.loginbutton{
    font-size: 22px;
    float: right;
}

.button{
    font-size: 20px;
    background-color: #333;
}

.button:hover{
    background-color: darkblue;
    color: white;
    margin-bottom: -2px;
}