#Users {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#Users td, #Users th {
    border: 1px solid #ddd;
    padding: 8px;
}

#Users tr:nth-child(even){background-color: #f2f2f2;}

#Users tr:hover {background-color: #ddd;}

#Users th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}


.deleteButton{
    height: 100%;
    width: 100%;
    font-size: 15px;
}