tml, body {
      height: 100%;
      width: 100%;
      margin: 0;
      font-family: 'Roboto', sans-serif;
  }
.ProductContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
}

/* Columns */
.left-column {
    width: 60%;
    position: relative;
}
.right-column {
    position:relative;
    background-color: white;
    width: 40%;
    margin-top: 60px;
    padding: 10px;
}

/* Left Column */
.left-column .mainImage {
    height: 500px;
    max-width: 650px;
    top: 0;
}
.left-column .subImage {
    height: 100px;
    left: 0;
    top: 0;
    margin-right: 10px;
}
.left-column .subImage:hover {
    filter: grayscale(60%);
}
.list_Of_Sub_Images{
    display: flex;
    margin-bottom: 20px;
}

/* Product Description */
.product-description {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
}
.product-description span {
    font-size: 12px;
    color: #358ED7;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}
.product-description h1 {
    font-weight: 300;
    font-size: 52px;
    color: #43484D;
    letter-spacing: -2px;
}
.product-description p {
    font-size: 16px;
    font-weight: 300;
    color: #86939E;
    line-height: 24px;
}

/* Product Price */
.product-price {
    display: flex;
    align-items: center;
}
.product-price span {
    font-size: 26px;
    font-weight: 300;
    color: #43474D;
    margin-right: 20px;
}

.product_buy{
    border-radius: 10px;
    round-clip: 10px;
    font-size: 15px;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: royalblue;
}

.product_buy:hover{
    background-color: limegreen;
}