
@media (min-width: 2000px) {
    .wrapper {
        margin-left: 5px;
        margin-right: 5px;
        display: grid;
        grid-template-columns: 19.5% 19.5% 19.5% 19.5% 19.5%;
        grid-gap: 10px;
        background-color: #fff;
        color: #444;
    }
}

@media (min-width: 1500px)and (max-width: 2000px) {
    .wrapper {
        margin-left: 5px;
        margin-right: 5px;
        display: grid;
        grid-template-columns: 24.5% 24.5% 24.5% 24.5%;
        grid-gap: 10px;
        background-color: #fff;
        color: #444;
    }
}

@media (min-width: 1000px) and (max-width: 1500px){
    .wrapper {
        margin-left: 5px;
        margin-right: 5px;
        display: grid;
        grid-template-columns: 32.5% 32.5% 32.5%;
        grid-gap: 10px;
        background-color: #fff;
        color: #444;
    }
}

@media (min-width: 700px) and (max-width: 1000px) {
    .wrapper {
        margin-left: 5px;
        margin-right: 5px;
        display: grid;
        grid-template-columns: 49.5% 49.5%;
        grid-gap: 10px;
        background-color: #fff;
        color: #444;
    }
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 20px;
    padding: 20px;
    font-size: 150%;
}