input[type=text], input[type=password] {
    padding: 12px 20px;
    margin-bottom: 16px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}
label{
    margin-left: 10%;
    margin-right: 10%;}

button {
    background-color: blue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.LoginContainer {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.loginButton{
    font-size: 23px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;}
